body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

#microphone-btn {
    background: #007bff;
    background-image: url('./microphone-icon.png');
    border: none;
    border-radius: 50%;
    padding: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#microphone-btn img {
    width: 100%;
    height: auto;
}
